@media only screen and (min-width: 1200px) {
    body {
        background-color: #212121;
        display:flex;
        justify-content: center;
    }
    
    #wrapper {
        height: 50rem;
        width: 80rem;
    }
    
    #logo {
        width: 100%;
        height: 20%;
    }
    
    #content {
        width: 100%;
        height: 80%;
        display:flex;
    }
    
    #nav {
        width: 35%;
        height: 100%;
        display:flex;
        justify-content: end;
    }
    
    #lefter {
        height: 100%;
        width: 50%;
    }
    
    #context {
        width: 65%;
        height: 100%;
    }
    
    #textbox {
        height: 70%;
        width: 80%;
        border-radius: 50px;
        background-color: #9414BA;
        padding: 50px;
        overflow: auto;
        box-shadow: inset 3px 3px 10px #ffffff7c, inset -5px -5px 10px #0000007c;
    }

    #textbox::-webkit-scrollbar {
        display: none;
    }
      #textbox {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
        font-style: italic;
    }
    
    h4 {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #F0F0F0;
    }

    a {
        color: #F0F0F0;
        text-decoration: underline;
    }
    
    ul {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: #F0F0F0;
        list-style-type: none;
        display: inline-block;
        text-align: right;
        text-decoration: underline;
        font-style: italic;
    }
    
    ul li {
        padding: 1rem;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
    }

    #menu a.active {
        font-weight: bold;
        text-decoration: underline;
    }
  
    #section1 {
        display:block;
    }

    #section2 {
        display:none;
    }

    #section3 {
        display:none;
    }
  }






  @media only screen and (max-width: 1200px) {
    body {
        background-color: #212121;
        display:flex;

    }
    #wrapper {
        height: 100%;
        width: 100%;
    }
    
    #logo {
        width: 100%;
        height: auto;
    }
    
    #content {
        width: 100%;
        height: 40rem;
        display:flex;
        flex-direction: column;
        align-items: center;
    }


    #nav {
        width: 100%;
        height: auto;
        display:flex;
        justify-content: right;
    }
    #lefter {
        height: auto;

    }
    #context {
        width: 95%;
        height: 100%;
        border-radius: 50px;
        background-color: #9414BA;
        overflow: hidden;

    }
    
    #textbox {
        height: 90%;
        width: auto;
        padding: 2rem;
        overflow-wrap: break-word;
        box-shadow: inset 3px 3px 10px #ffffff7c, inset -3px -3px 10px #0000007c;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
        font-style: italic;
    }

    h4 {
        display: none;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #F0F0F0;
        margin: 0;
        padding: 0;
        
    }

    a {
        color: #F0F0F0;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    ul {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #F0F0F0;
        list-style-type:none;
        text-align: center;
        font-style: italic;
    }

    li {
        
        float: left;
        display: block;
        text-align: center;
        padding: 10px;
    }
    #menu a.active {
        font-weight: bold;
        text-decoration: underline;
    }
  
    #section1 {
        display:block;
        width: 90%;
    }

    #section2 {
        display:none;
        width: 90%;
    }

    #section3 {
        display:none;
        width: 90%;
    }
  }

